<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/scripts.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Admin Page</title>
  </head>
  <body>
    {{#each trips}}
      <div class="taContainer col-sm-4">
          <h3>{{this.name}}</h4>
      <img height="200px" width="200px" src="{{this.photo}}">
      <p>Pay this yo: ${{this.cost}}.00</p>
      <p>Trip Start: <input type="date" value="{{this.start_date}}" disabled></p>
      <p>Trip End: <input type="date" value="{{this.end_date}}" disabled></p>
      <p>About this trip: {{this.description}}</p>
      <p>People Going: {{this.numberOfPeople}}</p>
      <button class="btn btn-success update" data-toggle="modal" data-target="#{{this.id}}" data-id="{{this.id}}">Update Trip Info</button>
      <button class="btn btn-success delete" data-id="{{this.id}}">Delete Trip</button>
      </div>
      <div class="modal fade bd-example-modal-lg" id="{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content text-center col-sm-10">
            <form class="form-inline" action="/admin" method="post">
              <div class="col-sm-10 col-sm-offset-1" style="background-color: white">
                <input class="hidden" name="id" value="{{this.id}}">
                <div class="form-group row">
                  <label class="col-sm-6" for="name">Name</label>
                  <div class="col-sm-6">
                    <input name="name" type="text" class="form-control" value="{{this.name}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="photo">Photo URL</label>
                  <div class="col-sm-6">
                    <input name="photo" type="text" class="form-control" value="{{this.photo}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="description">Description</label>
                  <div class="col-sm-6">
                    <input name="description" type="text" class="form-control" value="{{this.description}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="start_date">Start Date</label>
                  <div class="col-sm-6">
                    <input name="start_date" type="date" class="form-control" value="{{this.start_date}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="end_date">End Date</label>
                  <div class="col-sm-6">
                    <input name="end_date" type="date" class="form-control" value="{{this.end_date}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="cost">Trip Cost</label>
                  <div class="col-sm-6">
                    <input name="cost" type="number" class="form-control" value="{{this.cost}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6" for="numberOfPeople">Attendees</label>
                  <div class="col-sm-6">
                    <input name="numberOfPeople" type="text" class="form-control" value="{{this.numberOfPeople}}" disabled>
                  </div>
                </div>
              </div>
              <br>
              <button class="btn-success" type="submit">Update Trip</button>
              <br>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </body>
</html>
