<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/scripts.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">


<!-- Google API and logout js -->

    <meta name="google-signin-client_id" content="474877614234-spiqvdi2jlkc96klm3tvu0drpfinqe47.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="./js/logout.js"></script>

    <!-- Personal CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">

    <title>Trip-Trak Admin Page</title>
  </head>
  <body>

    <header>
        <nav class="navbar navbar-fixed-top">
            <a class="navbarTitle" href="./trips">TRIP-TRAK</a>
            <a href="#" class="navMenu dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
                <li class="dropLinks"><a href="/trips">Trips</a></li>
                <li class="dropLinks"><a href="/profile">Profile</a></li>
                  <li class="dropLinks"><a href="/">Login</a></li>
                    <li class="dropLinks logout"><a>Logout</a></li>
            </ul>
        </nav>

    </header>
<main>

    <h1 class='text-center card-block container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 tripsTitle adminTitle'>Trips Admin Page</h1><br>

    <!-- New Trip Modal -->
    <div class="text-center container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 adminTitle">
      <button class="grnBtn btn btn-success update" data-toggle="modal" data-target="#newTrip" >Create New Trip</button>


          </div>
          <div class="modal fade bd-example-modal-lg" id="newTrip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content text-center col-sm-10">
                <form class="form-inline" id="postForm" action="/admin" method="post">
<<<<<<< HEAD
                  <div class="col-sm-10 col-sm-offset-1" style="background-color: white">
                    <input class="hidden" name="id" value="{{this.trip.id}}">
=======
                  <div class="col-sm-10 col-sm-offset-1" >
                    <input class="hidden" name="id" value="{{this.trip.trip.id}}">
>>>>>>> modal modifications
                    <div class="form-group row">
                      <br>
                      <label class="col-sm-6" for="name">Name</label>
                      <div class="col-sm-6">
                        <input name="name" type="text" class="form-control" >
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="photo">Photo URL</label>
                      <div class="col-sm-6">
                        <input name="photo" type="text" class="form-control" >
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="description">Description</label>
                      <div class="col-sm-6">
                        <input name="description" type="text" class="form-control" >
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="start_date">Start Date</label>
                      <div class="col-sm-6">
                        <input name="start_date" type="date" class="form-control" >
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="end_date">End Date</label>
                      <div class="col-sm-6">
                        <input name="end_date" type="date" class="form-control" >
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="cost">Trip Cost</label>
                      <div class="col-sm-6">
                        <input name="cost" type="number" class="form-control">
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label class="col-sm-6" for="numberOfPeople">Attendees</label>
                      <div class="col-sm-6">
                        <input name="numberOfPeople" type="text" class="form-control" disabled value="Currently None">
                      </div>
                    </div><br><br>
                  </div>
                  <br>
                  <button class="grnBtn btn-success" type="submit">Create Trip</button>
                  <br><br>
                </form>
              </div>
            </div>
          </div>
          <br>

<!-- Trips in database -->


    {{#each trips}}

    <div class="content trips">
    <div class="card-block trip container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <div class="cardContent text-center">

        <h3 class="tripSubtitle">{{this.trip.name}}</h3>
        <p class="lead">{{this.trip.description}}</p>
        <img src="{{this.trip.photo}}" class="tripImg img-fluid" alt="Responsive image">
        <hr class="my-4">
        <p class="lead">Cost of trip: ${{this.trip.cost}}.00</p>
        <p class="lead">Trip Start: {{this.trip.start_date}}</p>
        <p class="lead">Trip End: {{this.trip.end_date}}</p>
        <p>People Going:
          <br>
          {{#each this.rows}}
            {{this.first_name}} {{this.last_name}}
            {{this.email}}
            <img class="attImg" height="75px" width="75px" src="{{this.photo}}">
            <br>
          {{/each}}
        </p>

      <button class="btn tripBtn small btn-success update" data-toggle="modal" data-target="#j{{this.trip.id}}" data-id="{{this.trip.id}}">Update Trip Info</button>
      <button class="btn tripBtn small btn-success deleteButton" name="{{this.trip.id}}" data-id="{{this.trip.id}}" id="d{{this.trip.id}}">Delete Trip</button>
      </div>
    </div>
  </div>


      <div class="modal fade bd-example-modal-lg" id="j{{this.trip.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">



          <div class="modal-content text-center ">
            <form class="form-inline putForm">
              <div class="col-sm-10 col-sm-offset-1" >
                <input class="hidden" name="id" value="{{this.trip.trip.id}}" id="{{this.trip.trip.id}}">
                <div class="form-group row">
                  <br>
                  <label class="col-sm-6" for="name">Name</label>
                  <div class="col-sm-6">
                    <input name="name" type="text" class="form-control" value="{{this.trip.name}}" id="{{this.trip.name}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="photo">Photo URL</label>
                  <div class="col-sm-6">
                    <input name="photo" type="text" class="form-control" value="{{this.trip.photo}}" id="{{this.trip.photo}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="description">Description</label>
                  <div class="col-sm-6">
                    <input name="description" type="text" class="form-control" value="{{this.trip.description}}" id="{{this.trip.description}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="start_date">Start Date</label>
                  <div class="col-sm-6">
                    <input name="start_date" type="date" class="form-control" value="{{this.trip.start_date}}" id="{{this.trip.start_date}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="end_date">End Date</label>
                  <div class="col-sm-6">
                    <input name="end_date" type="date" class="form-control" value="{{this.trip.end_date}}" id="{{this.trip.end_date}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="cost">Trip Cost</label>
                  <div class="col-sm-6">
                    <input name="cost" type="number" class="form-control" value="{{this.trip.cost}}" id="{{this.trip.cost}}">
                  </div>
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-6" for="numberOfPeople">Attendees</label>
                  <div class="col-sm-6">
                    {{#trip.rows}}
                    <p>{{this.trip.first_name}}</p>
                    {{/trip.rows}}
                    <input name="numberOfPeople" type="text" class="form-control" value="{{this.trip.numberOfPeople}}" id="{{this.trip.numberOfPeople}}" disabled>
                  </div>
                </div><br><br>
              </div>
              <br>
              <button class="btn-success updateButton">Update Trip</button>
              <br><br>
            </form>
          </div>
        </div>
      </div>
  {{/each}}

</main>

<footer class="footer">
    <p class="footText text-right">&copy; TRIP-TRAK Crew (Kevin Seagraves, Ryan Frazier, Sandra Tooley, Tim Cutter) </p>
</footer>

  </body>
</html>
