<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Boostrap Mobile Device Responsiveness -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/scripts.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <!-- If you're using Stripe for payments -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <title>Galvanize Trips</title>
</head>

<body class="container">
    <div id='userId' class='hidden'>{{userId}}</div>
    <h1>Trips Table</h1>

    {{#each trips}}
        <!-- <div class="taContainer col-sm-4"> -->
            <!-- <h3>{{this.name}}</h4>
        <img height="200px" width="200px" src="{{this.photo}}"> -->
        <!-- <div class="container">

            <hr> -->

            <div class="containerjumbo" >
      <h3 class="display-3">{{this.name}}</h3>
      <p class="lead">{{this.description}}</p>
      <hr class="my-4">
      <img src="{{this.photo}}" class="tripImg img-fluid" alt="Responsive image">>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

        <!-- <div class="card" id="tripscard">
  <div class="card-block">
    <h4 class="card-title">{{this.name}}</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img class="card-img-bottom" src="{{this.photo}}" alt="Card image cap">
</div> -->
        <p>Cost of trip: ${{this.cost}}.00</p>
        <p>Trip Start: {{this.start_date}}</p>
        <p>Trip End: {{this.end_date}}</p>
        <!-- <p>About this trip: {{this.description}}</p> -->
        <p>People Going: {{this.numberOfPeople}}</p>
        <button class="btn btn-primary update" data-toggle="modal" data-target="#{{this.id}}" data-id="{{this.id}}">Join Trip</button>
        <button class="btn btn-primary delete" data-id="{{this.id}}">Delete</button>
      </div>

      <div class="modal fade bd-example-modal-lg" id="{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content text-center">
            <form action="/trips" method="POST">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_e81hL6pMClwPcUehDnPMYoNu" data-amount="{{this.cost}}00" data-name="Stripe.com" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto" data-zip-code="true">
              </script>
              <input type="text" name="trip_id" class="hidden" value="{{this.id}}">
              <input type="text" name="trip_price" class="hidden" value="{{this.cost}}">
            </form>
          </div>
        </div>
      </div>
    {{/each}}
     <!-- <form class="container" action="/trips" method="post">
       <label>Trip Name: <input class="col-sm-4" type="text" name="name"></label><br>
       <label>Trip Picture URL: <input class="col-sm-4" type="text" name="picture"></label><br>
       <label>Trip Description: <input class="col-sm-4" type="text" name="description"></label><br>
       <input class="btn btn-primary" type="submit">
     </form> -->

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
