<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./js/scripts.js"></script>
  <title>Galvanize Trips</title>
</head>

<body>
    <div id='userId' class='hidden'>{{userId}}</div>
    <h1>Trips Table</h1>
    <form action="/trips" method="GET">
        <label>Enter and ID: <input type="text" name="idToGet"></label>
        <input type="submit">
    </form>
    {{#each trips}}
        <div class="taContainer">
            <h3>{{this.name}}</h4>
        <img height="200px" width="200px" src="{{this.photo}}">
        <p>Pay this yo: {{this.cost}}</p>
        <p>Trip Dates: {{this.dates}}</p>
        <p>About this trip: {{this.description}}</p>
        <p>People Going: {{this.numberOfPeople}}</p>
      </div>
      <button class="update" data-id="{{this.id}}">Join Trip</button>
      <button class="delete" data-id="{{this.id}}">Delete</button>
      <div class="uBox uBox{{this.id}}"></div>
    {{/each}}

     <form action="/trips" method="post">
       <label>Trip Name: <input type="text" name="name"></label><br>
       <label>Trip Picture URL: <input type="text" name="picture"></label><br>
       <label>Trip Description: <input type="text" name="description"></label><br>
       <input type="submit">
     </form>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
