<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>Trip-Trak Trips</title>

    <!-- Boostrap Mobile Device Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Bootsrap JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

    <!-- Personal CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">


    <!-- Google Data and Logout js -->
    <meta name="google-signin-client_id" content="474877614234-spiqvdi2jlkc96klm3tvu0drpfinqe47.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="./js/logout.js"></script>

    <!-- If you're using Stripe for payments -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>


</head>

<body>
    <!-- NAVBAR   -->
    <header>
        <nav class="navbar navbar-fixed-top">
            <a class="navbarTitle" href="./trips">TRIP-TRAK</a>
            <a href="#" class="navMenu dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
                <li class="dropLinks"><a href="/">Login</a></li>
                <li class="dropLinks"><a href="/trips">Trips</a></li>
                <li class="dropLinks"><a href="/profile">Profile</a></li>
                <li class="dropLinks logout"><a>Logout</a></li>
            </ul>
        </nav>

    </header>

    <main>
      <!-- Need to add show field to each modal -->
        <h1>{{show}}</h1>
        <div id='userId' class='hidden'>{{userId}}</div>


        <h1 class="tripsTitle text-center" id="head">Tantalizing Treks with Trip-Trak</h1>
<h2 class="blurb text-center">Trip-Trak has been a leader in tracking trips for 4 days.<br> We can take you anywhere. Let us show you the world.</h2>


        <div class="content trips">

            {{#each trips}}

                <div class="card-block trip container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                    <div class="cardContent text-center">
                        <h3 class="tripSubtitle">{{this.name}}</h3>
                        <p class="lead">{{this.description}}</p>
                        <img src="{{this.photo}}" class="tripImg img-fluid" alt="Responsive image">
                        <hr class="my-4">
                        <p class="lead">Cost of trip: ${{this.cost}}.00</p>
                        <p class="lead">Trip Start: {{this.start_date}}</p>
                        <p class="lead">Trip End: {{this.end_date}}</p>
                        <p class="lead">People Going: {{this.numberOfPeople}}</p>
                        <button class="tripBtn btn btn-primary update" style="{{../hidden}}" data-toggle="modal" data-target="#{{this.id}}" data-id="{{this.id}}">Join Trip</button>

                    </div>
                </div>


                <div class="modal fade bd-example-modal-lg" id="{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content text-center">
                            <form class="stripeModal" action="/trips" method="POST">
                                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_e81hL6pMClwPcUehDnPMYoNu" data-amount="{{this.cost}}00" data-name="" data-description="Your trip awaits... just one last step" data-image="http://www.clipartkid.com/images/707/boot-print-sticker-UU46eT-clipart.png"
                                      data-locale="auto" data-zip-code="true">
                                      </script>
                                  <input type="text" name="trip_id" class="hidden" value="{{this.id}}">
                                  <input type="text" name="trip_price" class="hidden" value="{{this.cost}}">

                            </form>
                        </div>
                    </div>
                </div>

            {{/each}}

        </div>
    </main>

    <footer class="footer">
        <a class="navbarTitle" href="./trips">TRIP-TRAK</a>
        <p class="footText text-right">&copy; TRAK Crew (Kevin Seagraves, Ryan Frazier, Sandra Tooley, Tim Cutter) </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>

</html>
